<div class="wrapper">
	<div class="main_card">
		<div class="card_left">
			<div class="card_datails">
				<h1> {{movie.title}}</h1>
				<div class="card_cat"> 
					<p class="year">Year: {{movie.release_date|date:'y'}}</p>
					<p class="genre"> {{movie.genres[0].name }}, {{movie.genres[1].name }}</p>
					<p class="time">  {{movie.runtime}} Min</p>
				</div>
				<p class="disc"> {{movie.overview}}</p>
				<a href="https://www.imdb.com/title/tt4912910/" target="_blank">Read More</a>
			<div class="social-btn">
        <!-- WATCH TRAILER-->
				<button>
					<i class="fas fa-play"></i> SEE TRAILER
				</button>
				 
			</div>	
			</div>
		</div>
		<div class="card_right">
			<div class="img_container">
				<img [src]="'https://image.tmdb.org/t/p/w500'+movie.poster_path"  alt="">
				</div>
				 
			</div>
		</div>
	</div>



 
